@using Tower_Of_Hanoi.Pages
@inherits LayoutComponentBase

<PageTitle>Tower Of Hanoi</PageTitle>

<div class="page">

    <main>
        <TowerOfHanoi />
        <br>

        <div class="footer d-flex m-1 flex-column justify-content-center align-items-center">
            @* <div>&copy; 2024 - Tower Of Hanoi</div> *@
            <div>&copy; Made By
            </div>
            <div>
                <a href="https://github.com/therawlu">Rawan Tarek</a> -
                <a href="https://github.com/EmanAbdelhaleem">Eman Abdelhaleem</a> -
                <a href="https://github.com/Eslamtamim">Eslam Tamim</a> 
            </div>

        </div>
    </main>
</div>
